.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: auto;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer a {
    color: #00aaff;
    margin: 0 5px;
    text-decoration: none;
  }
  

  @media (max-width: 768px) {
    .footer {
      padding: 11px 0;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 5px 0;
      font-size: 12px;
    }
  }
  